In [56]:
import pandas as pd
import numpy as np
import lxml

#Data Preparation

In [57]:
url = "https://www.basketball-reference.com/players/j/jamesle01/gamelog-playoffs/"
dfs = pd.read_html(url)
print(len(dfs))

8

In [58]:
#Data needed is located in index 7
dfs[7].head(40)

,Rk,G,2006 Playoffs,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2006-04-22,EC1,CLE,NaN,WAS,1,W (+11),1,...,8,11,11,0,0,4,3,32,23.3,+11
1,2,2,2006-04-25,EC1,CLE,NaN,WAS,2,L (-5),1,...,7,9,2,2,3,10,5,26,6.7,-2
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,4,5,3,2,0,4,3,41,27.4,+1
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,5,6,5,0,0,7,5,38,23.0,-16
4,5,5,2006-05-03,EC1,CLE,NaN,WAS,5,W (+1),1,...,2,7,6,2,0,4,5,45,38.4,-4
5,6,6,2006-05-05,EC1,CLE,@,WAS,6,W (+1),1,...,7,7,7,2,1,5,4,32,22.8,+1
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,7,2006-05-07,ECS,CLE,@,DET,1,L (-27),1,...,3,4,4,0,0,4,3,22,12.2,-31
8,8,8,2006-05-09,ECS,CLE,@,DET,2,L (-6),1,...,12,14,7,0,0,3,4,30,22.8,-4
9,9,9,2006-05-13,ECS,CLE,NaN,DET,3,W (+9),1,...,10,10,10,4,1,4,2,21,21.9,+9
10,10,10,2006-05-15,ECS,CLE,NaN,DET,4,W (+2),1,...,7,8,9,2,2,8,3,22,10.4,+2
11,11,11,2006-05-17,ECS,CLE,@,DET,5,W (+2),1,...,2,5,5,2,1,2,3,32,21.1,+2
12,12,12,2006-05-19,ECS,CLE,NaN,DET,6,L (-2),1,...,11,11,5,1,1,7,2,32,20.7,-2
13,13,13,2006-05-21,ECS,CLE,@,DET,7,L (-18),1,...,5,8,2,1,0,3,2,27,15.6,-16
14,Rk,G,2007 Playoffs,Series,Tm,NaN,Opp,G#,NaN,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
15,14,1,2007-04-22,EC1,CLE,NaN,WAS,1,W (+15),1,...,7,9,7,2,0,1,1,23,24.2,+17
16,15,2,2007-04-25,EC1,CLE,NaN,WAS,2,W (+7),1,...,4,8,7,1,2,2,2,27,22.5,+12
17,16,3,2007-04-28,EC1,CLE,@,WAS,3,W (+6),1,...,6,6,9,1,0,2,3,30,24.1,+6
18,17,4,2007-04-30,EC1,CLE,@,WAS,4,W (+7),1,...,8,11,7,3,1,2,3,31,27.5,+12
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,18,5,2007-05-06,ECS,CLE,NaN,NJN,1,W (+4),1,...,9,11,7,1,1,3,2,21,15.6,+6
21,19,6,2007-05-08,ECS,CLE,NaN,NJN,2,W (+10),1,...,1,1,12,3,0,2,2,36,31.3,+8
22,20,7,2007-05-12,ECS,CLE,@,NJN,3,L (-11),1,...,6,6,12,0,0,2,2,18,16.2,-12
23,21,8,2007-05-14,ECS,CLE,@,NJN,4,W (+2),1,...,9,9,7,0,0,3,1,30,24.6,+9
24,22,9,2007-05-16,ECS,CLE,NaN,NJN,5,L (-11),1,...,6,9,5,2,1,5,4,20,15.3,-15
25,23,10,2007-05-18,ECS,CLE,@,NJN,6,W (+16),1,...,7,8,8,1,0,2,4,23,16.8,+26
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,24,11,2007-05-21,ECF,CLE,@,DET,1,L (-3),1,...,9,10,9,4,1,2,1,10,13.5,-5
28,25,12,2007-05-24,ECF,CLE,@,DET,2,L (-3),1,...,6,6,7,3,0,6,1,19,11.0,-6
29,26,13,2007-05-27,ECF,CLE,NaN,DET,3,W (+6),1,...,8,9,9,2,0,3,2,32,28.5,+6
30,27,14,2007-05-29,ECF,CLE,NaN,DET,4,W (+4),1,...,7,7,11,3,0,3,0,25,24.3,-4
31,28,15,2007-05-31,ECF,CLE,@,DET,5,W (+2),1,...,6,9,7,2,0,2,3,48,38.1,+2
32,29,16,2007-06-02,ECF,CLE,NaN,DET,6,W (+16),1,...,12,14,8,2,2,3,1,20,22.1,+13
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,30,17,2007-06-07,FIN,CLE,@,SAS,1,L (-9),1,...,6,7,4,1,1,6,1,14,5.0,-5
35,31,18,2007-06-10,FIN,CLE,@,SAS,2,L (-11),1,...,4,7,6,1,0,6,3,25,13.6,-5
36,32,19,2007-06-12,FIN,CLE,NaN,SAS,3,L (-3),1,...,8,8,7,2,1,5,3,25,15.9,+4
37,33,20,2007-06-14,FIN,CLE,NaN,SAS,4,L (-1),1,...,6,6,10,0,0,6,1,24,7.8,+2
38,Rk,G,2008 Playoffs,Series,Tm,NaN,Opp,G#,NaN,GS,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
39,34,1,2008-04-19,EC1,CLE,NaN,WAS,1,W (+7),1,...,6,6,4,1,2,1,1,32,26.7,+9

In [59]:
df_bsc = dfs[7]

In [60]:
url = "https://www.basketball-reference.com/players/j/jamesle01/gamelog-playoffs-advanced/"
dfs1 = pd.read_html(url)
print(len(dfs))

8

In [61]:
df_adv = dfs1[0]
df_adv.head()

,Rk,G,2006 Playoffs,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc
0,1,1,2006-04-22,EC1,CLE,NaN,WAS,1,W (+11),1,...,19.5,12.5,42.3,0.0,0.0,11.2,33.6,115,105,23.3
1,2,2,2006-04-25,EC1,CLE,NaN,WAS,2,L (-5),1,...,17.2,11.4,9.9,2.4,5.7,24.0,41.1,72,95,6.7
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,11.9,6.4,16.0,2.1,0.0,11.1,33.3,119,104,27.4
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,12.0,8.1,26.2,0.0,0.0,21.2,34.7,121,122,23.0
4,5,5,2006-05-03,EC1,CLE,NaN,WAS,5,W (+1),1,...,5.5,10.1,24.7,2.4,0.0,11.5,35.9,148,126,38.4

In [62]:
print(df_bsc.columns)
print(df_adv.columns)

Index(['Rk', 'G', '2006 Playoffs', 'Series', 'Tm', 'Unnamed: 5', 'Opp', 'G#',
       'Unnamed: 8', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'GmSc', '+/-'],
      dtype='object')
Index(['Rk', 'G', '2006 Playoffs', 'Series', 'Tm', 'Unnamed: 5', 'Opp', 'G#',
       'Unnamed: 8', 'GS', 'MP', 'TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'GmSc'],
      dtype='object')

In [63]:
#Concatenate basic and advanced stats dataframes
df = pd.concat([df_bsc, df_adv[["TS%", "eFG%", "ORB%", "DRB%", "TRB%", "AST%",
       "STL%", "BLK%", "TOV%", "USG%", "ORtg", "DRtg", "GmSc"]]], axis=1)
df.head()

,Rk,G,2006 Playoffs,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc
0,1,1,2006-04-22,EC1,CLE,NaN,WAS,1,W (+11),1,...,19.5,12.5,42.3,0.0,0.0,11.2,33.6,115,105,23.3
1,2,2,2006-04-25,EC1,CLE,NaN,WAS,2,L (-5),1,...,17.2,11.4,9.9,2.4,5.7,24.0,41.1,72,95,6.7
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,11.9,6.4,16.0,2.1,0.0,11.1,33.3,119,104,27.4
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,12.0,8.1,26.2,0.0,0.0,21.2,34.7,121,122,23.0
4,5,5,2006-05-03,EC1,CLE,NaN,WAS,5,W (+1),1,...,5.5,10.1,24.7,2.4,0.0,11.5,35.9,148,126,38.4

In [64]:
df.columns

Index(['Rk', 'G', '2006 Playoffs', 'Series', 'Tm', 'Unnamed: 5', 'Opp', 'G#',
       'Unnamed: 8', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'GmSc', '+/-', 'TS%', 'eFG%', 'ORB%', 'DRB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'ORtg', 'DRtg', 'GmSc'],
      dtype='object')

In [65]:
df.rename(columns={"2006 Playoffs": "Date"}, inplace=True)

In [66]:
df["Rk"].values

array(['1', '2', '3', '4', '5', '6', nan, '7', '8', '9', '10', '11', '12',
       '13', 'Rk', '14', '15', '16', '17', nan, '18', '19', '20', '21',
       '22', '23', nan, '24', '25', '26', '27', '28', '29', nan, '30',
       '31', '32', '33', 'Rk', '34', '35', '36', '37', '38', '39', nan,
       '40', '41', '42', '43', '44', '45', '46', 'Rk', '47', '48', '49',
       '50', nan, '51', '52', '53', '54', nan, '55', '56', '57', '58',
       '59', '60', 'Rk', '61', '62', '63', '64', '65', nan, '66', '67',
       '68', '69', '70', '71', 'Rk', '72', '73', '74', '75', '76', nan,
       '77', '78', '79', '80', '81', nan, '82', '83', '84', '85', '86',
       nan, '87', '88', '89', '90', '91', '92', 'Rk', '93', '94', '95',
       '96', '97', nan, '98', '99', '100', '101', '102', '103', nan,
       '104', '105', '106', '107', '108', '109', '110', nan, '111', '112',
       '113', '114', '115', 'Rk', '116', '117', '118', '119', nan, '120',
       '121', '122', '123', '124', nan, '125', '126', '127', '128', '129',
       '130', '131', nan, '132', '133', '134', '135', '136', '137', '138',
       'Rk', '139', '140', '141', '142', nan, '143', '144', '145', '146',
       '147', nan, '148', '149', '150', '151', '152', '153', nan, '154',
       '155', '156', '157', '158', 'Rk', '159', '160', '161', '162', nan,
       '163', '164', '165', '166', '167', '168', nan, '169', '170', '171',
       '172', nan, '173', '174', '175', '176', '177', '178', 'Rk', '179',
       '180', '181', '182', nan, '183', '184', '185', '186', nan, '187',
       '188', '189', '190', '191', '192', nan, '193', '194', '195', '196',
       '197', '198', '199', 'Rk', '200', '201', '202', '203', nan, '204',
       '205', '206', '207', nan, '208', '209', '210', '211', '212', nan,
       '213', '214', '215', '216', '217', 'Rk', '218', '219', '220',
       '221', '222', '223', '224', nan, '225', '226', '227', '228', nan,
       '229', '230', '231', '232', '233', '234', '235', nan, '236', '237',
       '238', '239', 'Rk', '240', '241', '242', '243', '244', nan, '245',
       '246', '247', '248', '249', nan, '250', '251', '252', '253', '254',
       nan, '255', '256', '257', '258', '259', '260', 'Rk', '261', '262',
       '263', '264', '265', '266'], dtype=object)

In [67]:
#Remove non-useful rows
df.dropna(subset=["Rk"],inplace = True)
df = df.loc[df["Rk"] != "Rk"]
print(df.shape)
df["Rk"].values

(266, 44)

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '180', '181',
       '182', '183', '184', '185', '186', '187', '188', '189', '190',
       '191', '192', '193', '194', '195', '196', '197', '198', '199',
       '200', '201', '202', '203', '204', '205', '206', '207', '208',
       '209', '210', '211', '212', '213', '214', '215', '216', '217',
       '218', '219', '220', '221', '222', '223', '224', '225', '226',
       '227', '228', '229', '230', '231', '232', '233', '234', '235',
       '236', '237', '238', '239', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '250', '251', '252', '253',
       '254', '255', '256', '257', '258', '259', '260', '261', '262',
       '263', '264', '265', '266'], dtype=object)

In [68]:
#Check first unnamed column
df["Unnamed: 5"].head()

0    NaN
1    NaN
2      @
3      @
4    NaN
Name: Unnamed: 5, dtype: object

In [69]:
#Column "Unnamed: 5" shows whether game was an away game or home game
df["Unnamed: 5"].fillna("0",inplace = True)
#Create new columns for Home and Away games
df["Away"] = 0
df["Home"] = 0
for i in range(0,len(df)):
    if df["Unnamed: 5"].iloc[i] == "@":
        df["Away"].iloc[i] = 1
    else:
        df["Home"].iloc[i] = 1
df.head(30)

c:\Users\waiho\anaconda3\envs\myenv\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
c:\Users\waiho\anaconda3\envs\myenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Rk,G,Date,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,Away,Home
0,1,1,2006-04-22,EC1,CLE,NaN,WAS,1,W (+11),1,...,42.3,0.0,0.0,11.2,33.6,115,105,23.3,0,0
1,2,2,2006-04-25,EC1,CLE,NaN,WAS,2,L (-5),1,...,9.9,2.4,5.7,24.0,41.1,72,95,6.7,0,0
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,16.0,2.1,0.0,11.1,33.3,119,104,27.4,0,0
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,26.2,0.0,0.0,21.2,34.7,121,122,23.0,0,0
4,5,5,2006-05-03,EC1,CLE,NaN,WAS,5,W (+1),1,...,24.7,2.4,0.0,11.5,35.9,148,126,38.4,0,0
5,6,6,2006-05-05,EC1,CLE,@,WAS,6,W (+1),1,...,25.0,2.0,1.4,16.0,28.4,109,113,22.8,0,0
7,7,7,2006-05-07,ECS,CLE,@,DET,1,L (-27),1,...,24.2,0.0,0.0,17.5,30.5,109,141,12.2,0,0
8,8,8,2006-05-09,ECS,CLE,@,DET,2,L (-6),1,...,29.6,0.0,0.0,10.2,29.6,117,111,22.8,0,0
9,9,9,2006-05-13,ECS,CLE,NaN,DET,3,W (+9),1,...,40.0,5.1,1.9,17.5,26.0,108,86,21.9,0,0
10,10,10,2006-05-15,ECS,CLE,NaN,DET,4,W (+2),1,...,42.9,2.4,3.3,22.6,37.9,78,84,10.4,0,0
11,11,11,2006-05-17,ECS,CLE,@,DET,5,W (+2),1,...,29.0,2.4,1.6,5.7,34.4,112,103,21.1,0,0
12,12,12,2006-05-19,ECS,CLE,NaN,DET,6,L (-2),1,...,22.8,1.3,1.9,20.0,38.7,104,103,20.7,0,0
13,13,13,2006-05-21,ECS,CLE,@,DET,7,L (-18),1,...,23.6,1.3,0.0,9.8,35.3,95,104,15.6,0,0
15,14,1,2007-04-22,EC1,CLE,NaN,WAS,1,W (+15),1,...,31.0,2.5,0.0,5.0,21.5,136,93,24.2,0,0
16,15,2,2007-04-25,EC1,CLE,NaN,WAS,2,W (+7),1,...,23.7,1.2,3.1,6.7,28.2,121,110,22.5,0,0
17,16,3,2007-04-28,EC1,CLE,@,WAS,3,W (+6),1,...,35.4,1.3,0.0,7.4,28.8,133,111,24.1,0,0
18,17,4,2007-04-30,EC1,CLE,@,WAS,4,W (+7),1,...,30.7,3.5,1.7,6.4,33.2,119,96,27.5,0,0
20,18,5,2007-05-06,ECS,CLE,NaN,NJN,1,W (+4),1,...,27.4,1.2,1.8,11.3,25.8,103,91,15.6,0,0
21,19,6,2007-05-08,ECS,CLE,NaN,NJN,2,W (+10),1,...,49.4,3.6,0.0,6.3,30.9,138,105,31.3,0,0
22,20,7,2007-05-12,ECS,CLE,@,NJN,3,L (-11),1,...,55.4,0.0,0.0,9.5,24.5,107,114,16.2,0,0
23,21,8,2007-05-14,ECS,CLE,@,NJN,4,W (+2),1,...,41.0,0.0,0.0,11.7,28.4,123,98,24.6,0,0
24,22,9,2007-05-16,ECS,CLE,NaN,NJN,5,L (-11),1,...,30.5,2.6,2.3,21.0,26.0,101,93,15.3,0,0
25,23,10,2007-05-18,ECS,CLE,@,NJN,6,W (+16),1,...,42.7,1.4,0.0,7.7,33.4,107,84,16.8,0,0
27,24,11,2007-05-21,ECF,CLE,@,DET,1,L (-3),1,...,35.7,5.2,1.8,11.8,17.9,87,89,13.5,0,0
28,25,12,2007-05-24,ECF,CLE,@,DET,2,L (-3),1,...,33.4,3.9,0.0,21.4,31.2,83,92,11.0,0,0
29,26,13,2007-05-27,ECF,CLE,NaN,DET,3,W (+6),1,...,45.7,2.6,0.0,10.7,33.4,126,99,28.5,0,0
30,27,14,2007-05-29,ECF,CLE,NaN,DET,4,W (+4),1,...,55.9,3.7,0.0,11.6,29.8,110,95,24.3,0,0
31,28,15,2007-05-31,ECF,CLE,@,DET,5,W (+2),1,...,49.7,2.4,0.0,4.9,42.7,132,111,38.1,0,0
32,29,16,2007-06-02,ECF,CLE,NaN,DET,6,W (+16),1,...,33.4,2.4,3.2,13.4,21.3,121,86,22.1,0,0
34,30,17,2007-06-07,FIN,CLE,@,SAS,1,L (-9),1,...,17.0,1.4,1.8,25.3,29.6,72,107,5.0,0,0

In [70]:
#Check second unnamed column
df["Unnamed: 8"].head()

0    W (+11)
1     L (-5)
2     W (+1)
3    L (-10)
4     W (+1)
Name: Unnamed: 8, dtype: object

In [71]:
#"Unnamed: 8" shows the outcome of game and point differential
#Create new column for outcome of game
df["Outcome"] = "L"
for i in range(0,len(df)):
    if "W" in str(df["Unnamed: 8"].iloc[i]):
        df["Outcome"].iloc[i] = "W"
#Create new column for point differential of game
df["Point Diff"] = ""
for i in range(0,len(df)):
    temp_str = str(df["Unnamed: 8"].iloc[i]).replace("W", "")
    temp_str = temp_str.replace("L", "")
    temp_str = temp_str.replace("(", "")
    temp_str = temp_str.replace("+", "")
    temp_str = temp_str.replace(")", "")
    temp_str = temp_str.replace(" ", "")
    df["Point Diff"].iloc[i] = float(temp_str)
df.head()

c:\Users\waiho\anaconda3\envs\myenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Rk,G,Date,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,Away,Home,Outcome,Point Diff
0,1,1,2006-04-22,EC1,CLE,NaN,WAS,1,W (+11),1,...,0.0,11.2,33.6,115,105,23.3,0,0,L,
1,2,2,2006-04-25,EC1,CLE,NaN,WAS,2,L (-5),1,...,5.7,24.0,41.1,72,95,6.7,0,0,L,
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,0.0,11.1,33.3,119,104,27.4,0,0,L,
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,0.0,21.2,34.7,121,122,23.0,0,0,L,
4,5,5,2006-05-03,EC1,CLE,NaN,WAS,5,W (+1),1,...,0.0,11.5,35.9,148,126,38.4,0,0,L,

In [72]:
for col in df.columns:
    print(col + ": " + str(df[col].isnull().sum()))

Rk: 0
G: 0
Date: 0
Series: 0
Tm: 0
Unnamed: 5: 136
Opp: 0
G#: 0
Unnamed: 8: 0
GS: 0
MP: 0
FG: 0
FGA: 0
FG%: 0
3P: 0
3PA: 0
3P%: 4
FT: 0
FTA: 0
FT%: 3
ORB: 0
DRB: 0
TRB: 0
AST: 0
STL: 0
BLK: 0
TOV: 0
PF: 0
PTS: 0
GmSc: GmSc    0
GmSc    0
dtype: int64
+/-: 0
TS%: 0
eFG%: 0
ORB%: 0
DRB%: 0
TRB%: 0
AST%: 0
STL%: 0
BLK%: 0
TOV%: 0
USG%: 0
ORtg: 0
DRtg: 0
GmSc: GmSc    0
GmSc    0
dtype: int64
Away: 0
Home: 0
Outcome: 0
Point Diff: 0

In [73]:
#Only nan values remaining are in 3P% and FT% of games where Lebron does not shoot any free throws or threes
#Replace 3P% and FT% with 0 in the games where LeBron does not shoot any free throws or threes
df.fillna(0, inplace = True)
for col in df.columns:
    print(col + ": " + str(df[col].isnull().sum()))

Rk: 0
G: 0
Date: 0
Series: 0
Tm: 0
Unnamed: 5: 0
Opp: 0
G#: 0
Unnamed: 8: 0
GS: 0
MP: 0
FG: 0
FGA: 0
FG%: 0
3P: 0
3PA: 0
3P%: 0
FT: 0
FTA: 0
FT%: 0
ORB: 0
DRB: 0
TRB: 0
AST: 0
STL: 0
BLK: 0
TOV: 0
PF: 0
PTS: 0
GmSc: GmSc    0
GmSc    0
dtype: int64
+/-: 0
TS%: 0
eFG%: 0
ORB%: 0
DRB%: 0
TRB%: 0
AST%: 0
STL%: 0
BLK%: 0
TOV%: 0
USG%: 0
ORtg: 0
DRtg: 0
GmSc: GmSc    0
GmSc    0
dtype: int64
Away: 0
Home: 0
Outcome: 0
Point Diff: 0

In [74]:
#Remove "+" in +/-
for i in range(0,len(df)):
    temp_str = str(df["+/-"].iloc[i]).replace("+", "")
    df["+/-"].iloc[i] = float(temp_str)
df.head()

c:\Users\waiho\anaconda3\envs\myenv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Rk,G,Date,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,BLK%,TOV%,USG%,ORtg,DRtg,GmSc,Away,Home,Outcome,Point Diff
0,1,1,2006-04-22,EC1,CLE,0,WAS,1,W (+11),1,...,0.0,11.2,33.6,115,105,23.3,0,0,L,
1,2,2,2006-04-25,EC1,CLE,0,WAS,2,L (-5),1,...,5.7,24.0,41.1,72,95,6.7,0,0,L,
2,3,3,2006-04-28,EC1,CLE,@,WAS,3,W (+1),1,...,0.0,11.1,33.3,119,104,27.4,0,0,L,
3,4,4,2006-04-30,EC1,CLE,@,WAS,4,L (-10),1,...,0.0,21.2,34.7,121,122,23.0,0,0,L,
4,5,5,2006-05-03,EC1,CLE,0,WAS,5,W (+1),1,...,0.0,11.5,35.9,148,126,38.4,0,0,L,

In [75]:
df.dtypes

Rk            object
G             object
Date          object
Series        object
Tm            object
Unnamed: 5    object
Opp           object
G#            object
Unnamed: 8    object
GS            object
MP            object
FG            object
FGA           object
FG%           object
3P            object
3PA           object
3P%           object
FT            object
FTA           object
FT%           object
ORB           object
DRB           object
TRB           object
AST           object
STL           object
BLK           object
TOV           object
PF            object
PTS           object
GmSc          object
+/-           object
TS%           object
eFG%          object
ORB%          object
DRB%          object
TRB%          object
AST%          object
STL%          object
BLK%          object
TOV%          object
USG%          object
ORtg          object
DRtg          object
GmSc          object
Away           int64
Home           int64
Outcome       object
Point Diff    object
dtype: object

In [76]:
nonnum_col = ["Date", "Series", "Tm", "Unnamed: 5", "Opp", "Unnamed: 8", "MP", "Outcome"]
num_col = [col for col in df.columns if col not in nonnum_col]
for c in num_col:
    df[num_col] = df[num_col].astype(float)
df.dtypes

ValueError: could not convert string to float:

In [ ]:
df.head(10)

,Rk,G,Date,Series,Tm,Unnamed: 5,Opp,G#,Unnamed: 8,GS,...,BLK,TOV,PF,PTS,GmSc,+/-,Away,Home,Outcome,Point Diff
0,1.0,1.0,2006-04-22,EC1,CLE,0,WAS,1.0,W (+11),1.0,...,0.0,4.0,3.0,32.0,23.3,11.0,0.0,1.0,W,11.0
1,2.0,2.0,2006-04-25,EC1,CLE,0,WAS,2.0,L (-5),1.0,...,3.0,10.0,5.0,26.0,6.7,-2.0,0.0,1.0,L,-5.0
2,3.0,3.0,2006-04-28,EC1,CLE,@,WAS,3.0,W (+1),1.0,...,0.0,4.0,3.0,41.0,27.4,1.0,1.0,0.0,W,1.0
3,4.0,4.0,2006-04-30,EC1,CLE,@,WAS,4.0,L (-10),1.0,...,0.0,7.0,5.0,38.0,23.0,-16.0,1.0,0.0,L,-10.0
4,5.0,5.0,2006-05-03,EC1,CLE,0,WAS,5.0,W (+1),1.0,...,0.0,4.0,5.0,45.0,38.4,-4.0,0.0,1.0,W,1.0
5,6.0,6.0,2006-05-05,EC1,CLE,@,WAS,6.0,W (+1),1.0,...,1.0,5.0,4.0,32.0,22.8,1.0,1.0,0.0,W,1.0
7,7.0,7.0,2006-05-07,ECS,CLE,@,DET,1.0,L (-27),1.0,...,0.0,4.0,3.0,22.0,12.2,-31.0,1.0,0.0,L,-27.0
8,8.0,8.0,2006-05-09,ECS,CLE,@,DET,2.0,L (-6),1.0,...,0.0,3.0,4.0,30.0,22.8,-4.0,1.0,0.0,L,-6.0
9,9.0,9.0,2006-05-13,ECS,CLE,0,DET,3.0,W (+9),1.0,...,1.0,4.0,2.0,21.0,21.9,9.0,0.0,1.0,W,9.0
10,10.0,10.0,2006-05-15,ECS,CLE,0,DET,4.0,W (+2),1.0,...,2.0,8.0,3.0,22.0,10.4,2.0,0.0,1.0,W,2.0

In [ ]:
df.to_csv("LBJPO.csv", index=False)